<h1>New Review</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, as: :integer, input_html: { min: 0, max: 5, step: 1 } %>

  <%= f.button :submit, "Add Review" %>
<% end %>

<%= link_to "Back to #{@restaurant.name}", restaurants_path(@restaurant), class: "btn btn-primary" %>
